h2 {
    margin-top: 1.5rem;
}
.inputName {
    display: block;
    font-size: 11px;
    padding: 4px 2px;
    border: solid 2px #b0b0b0;
    width: 100%;
    font-size: 18px;
    margin: 2px 0 20px 10px;
    background-color: #eee;
}

textarea {
    display: block;
    border: solid 2px #b0b0b0;
    width: 100%;
    font-size: 18px;
    margin: 2px 0 20px 10px;
    max-width: 1500px;
    background-color: #eee;
}

.buttonEvent  {
    margin-left: auto;
    display: block;
}