h2 {
    margin-top: 1.5rem;
}
.inputName {
    display: block;
    font-size: 11px;
    padding: 4px 2px;
    border: solid 2px #cfd1d8;
    width: 100%;
    font-size: 18px;
    margin: 2px 0 20px 0px;
    background-color: #ffffff;
    border-radius: 2px
}

textarea {
    display: block;
    border: solid 2px #cfd1d8;
    width: 100%;
    font-size: 18px;
    margin: 2px 0 20px 0px;
    max-width: 1500px;
    background-color: #ffffff;
    border-radius: 2px
}

.buttonEvent  {
    margin-left: auto;
    display: block;
}

.text-align {
    text-align: left;
}