.cardEvent {
    width: 100%;
    padding: 15px;
    margin: auto;
}
  
  .descriptionEvent {
     padding: 0px 15px 0px 15px;
     width: 100%;
  }
  .containerEvent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
