h1 {
  margin: 1rem;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .lib-panel-wrapper {
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
}

@media screen and (min-width: 770px) {
  .lib-panel-wrapper {
    display: block;
    max-width: 100%;
    min-width: 50%;
  }
}

.lib-panel {
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
}

.lib-panel img {
  background-color: transparent;
}

.lib-panel .box-shadow {
  padding: 0;
  background-color: #FFFFFF;
  padding: 0px 10px 0px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.circle {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 1rem;
}

.lib-panel-content {
  padding: 1rem;
  text-align: left;
}



.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 1px;
  width: 35%;
  background-color: #d9d9d9;
}

.one {
  width: 6.866%;
}

.container_pagin {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}


.pagination {
  padding: 30px 0;
  justify-content: center;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}


.p1 a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}

.p1 a.is-active {
  background-color: #3136b3;
  border-radius: 100%;
  color: #fff;
}

.icon {
  width: 16px;
  margin: 0px 4px 0px 4px;
}

.H5_center {
  text-align: center;
  padding: 10px;
}

.loading {
  margin: 200px;
  text-align: center;
}

.icon_position {
  align-self: flex-end;
  font-size: 13px;
  float: left;
}