.survey-list-container {
    
    padding: 20px;
    border-radius: 8px;
    margin: 0px;
    
    max-width: 400px;
  }
  
  .survey-list {
    list-style: none;
    padding: 0;
  }
  
  .survey-item {
    
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    
  }
  
  .survey-item-content {
    margin-left: 10px;
  }