body {
  margin: 0;
  background-color: blanchedalmond;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.survey-list-container {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  background-color: #f7f7f7;
  max-width: 400px;
}

.survey-list {
  list-style: none;
  padding: 0;
}

.survey-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #fff;
}

.survey-item-content {
  margin-left: 10px;
}



body{
       
  font-family: 'Noto Serif', serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  margin: 0 auto;
}
img{
  max-width: 100%;
  display: block;
}
.section{
   background: linear-gradient(180deg, #071b40, #bc7bc2, #eb8f9e);
}
.intro{
  width: 100%;
  height: 100vh;
}
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.header{
  width: 100%;
  top: 80px;
  height: 100px;
  bottom: 80px;
  padding-top: 30px; 
      
}
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header_logo{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 35px; 
  font-weight: 400;
  text-decoration: uppercase; 
  transition: color .2s linear;
}
.nav{
  font-size: 20px;
  text-decoration: uppercase;
}
.nav_link{
  display: inline-block;
  vertical-align: top;
  color: white;
  position: relative;
  margin: 0 25px;
  text-decoration: none; 
  transition: color .1s linear;
}
.nav_link:after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color:#ee6983;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}
.nav_link:hover{
  color:#ee6983; 
}
.container_image_left{
  float: left; 
  max-width: 55%;
  padding-top: 2%;    
}
.container_image_right{
  float: right;
  max-width: 42%;
  position: absolute;
  padding-left: 35%;
}
.container_image{
  padding: 0 0 0 5%;
}
.text_banner{
  width: 350px;
  height: 300px;
  position: absolute;
  font-size: 40px;
  top: 0%;
  margin: 18% 2% 0% 7%;

}
.section_1{
  background: white;
}